.projectItem {

    width: 100%;

    padding: 0.8rem 1rem;

    border: 1px solid var(--border-color);
    border-radius: 8px;

    background-color: var(--background-color);
    color: var(--text-color);

    text-align: left;

    font: inherit;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.projectItem:hover {

    box-shadow: 0 4px 10px rgba(0,0,0,0.4);

}

.projectItem.activeProject:hover {

    box-shadow: none;

}

.deleteProjectButton {

    width: 22px;

    height: 22px;

}

.projectItem.activeProject .deleteProjectButton {

    filter: brightness(0) invert(1);

}